*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 1s ease;

}

.container{
    width: 400px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(253, 211, 0);

}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: rgba(253,211,0);
    transform: scale(1.1);
}

.card-footer,.volume-container,.times{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#volume{
    margin-right: 10px;
}

#volume:hover{
    cursor: pointer;
}

#buttons,.btn{
    color: #fff;
}

.btn:hover{
    transform: scale(1.1);
}

#prev,#next,#play{
    color: white;
}

#play:hover,#prev:hover,#next:hover
{
    box-shadow:4px 4px 0px #f6ab2a;
    top: -5px;;
    left: -5px;
}

ul li:hover{
    cursor: pointer;
    transform: scale(1.01);
}

li.playing{
    background-color: rgb(255, 187, 0);
    color: whitesmoke;
}

#buttons:hover{
    transform: scale(1.05);
}

.card-right{
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-left: 374px;
    height: auto;
    width: 300px;
}


body.dark-mode{
    background-color: rgb(41, 40, 40);
    transition: background-color 1s ease;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
margin: 20px auto;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #ffb700;
}

input:focus + .slider {
box-shadow: 0 0 1px #f7ba04;
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.switch{
    position: absolute;
    top: 20px;
}
